@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}

/* navbar style starts here */
.header-section {
  max-width: 1440px;
  /* background-color: red; */
  margin: 52px 135px;
  /* border: 2px solid blue; */
  display: flex;
}
.nav-container {
  /* margin: 53px 120px; */
  min-height: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid blue; */
  width: 50%;
  /* margin-left: 70px; */
}
.nav-container img {
  width: 48px;
  gap: 20px;
}
.nav-container p {
  font-size: 36px;
  font-weight: 800;
  color: #131318;
}
.special {
  color: #ff5400;
}
.sky {
  margin-left: 16px;
}
.items-container {
  /* border: 2px solid green; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 44px;
  align-items: center;
  /* margin-right: 200px; */
}
.items-container a {
  text-decoration: none;
  color: #424247;
  font-weight: 400;
  font-size: 18px;
}
.home-color {
  color: #ff5400;
  font-weight: 700;
  /* margin-left: 44px; */
}
.nav-container {
  width: 100%;
}
/* nav bar finished here */
.banner {
  width: 100%;
  height: 65vh;
  background-image: url("/images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: 100%;
  margin-top: 100px;
  border-radius: 16px;
  width: 1400px;
  height: 500px;
  flex-shrink: 0;
  margin-left: 180px;
  margin-bottom: 100px;
}
.banner-text {
  border-radius: 16px;
  padding-top: 100px;
  margin-left: 0px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-width: 200px;
}
.banner-text h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 350px;
}
.banner-text p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}

#btn {
  width: 130px;
  height: 35px;
  font-weight: bold;
  background: #ff5400;
  letter-spacing: 3px;
  margin-left: 50px;
  color: rgb((225, 230, 0));
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.where {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  font-family: Mulish;
  font-weight: 700;
  outline: none;
  border: none;
}
.when {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  font-family: Mulish;
  font-weight: 700;
  outline: none;
  border: none;
}
.select {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  font-family: Mulish;
  font-weight: 700;
  outline: none;
  border: none;
}
.find {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  font-family: Mulish;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-bar {
  margin-top: 50px;
  align-items: center;
  margin-left: 350px;
  margin-right: 300px;
}
/* banner part ends here */
/* banner section styles start here */
.banner-section {
  margin-left: 175px;
  margin-right: 330px;
  /* background-color: red; */
  /* border: 2px solid blue; */
  min-height: 550px;
  display: flex;
  margin-bottom: 100px;
}
.text-container {
  /* border: 2px solid green; */
  width: 50%;
}
.banner-image-container {
  /* border: 2px solid violet; */
  width: 50%;
}
.banner-image-container img {
  width: 100%;
  display: block;
  /* margin: 0 auto; */
  /* object-fit: cover; */
}
.tours-heading {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.text-container p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  line-break: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 30px;
}
.points {
  width: 525px;
  margin-left: 20px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.end {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.read-button {
  margin-top: 35px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #ff5400;
}
/* banner section styles end here */
/* choose your destination section styles start here */
.choose {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.adventure {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* margin-bottom: 48px; */
}
/* choose your destination section styles end here */
/* list of destination starts here */
.container {
  /* border: 2px solid green; */
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  /* min-height: 950px; */
}
.pic-container{
    display: grid;
    width: 98%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.grid-item-1{
    margin-left: 40px;
   grid-column:1/span 3;
   grid-row: 1/span 1;
}
.grid-item-2{
    margin-right: 50px;
    grid-column:5/span 8;
    grid-row: 1/span 1;
}
.grid-item-3{
    grid-column:1/span 2;
    grid-row:2/span 1 ;
}
.grid-item-4{
    grid-column:3/span 3;
    grid-row:2/span 1 ;
}
.grid-item-5{
    grid-column:6/span 2;
    grid-row:2/span 1;
}
.grid-item-6{
    grid-column:1/span 3;
    grid-row:3/span 3;
}
.grid-item-7{
    grid-column:4/span 4;
    grid-row:3/span 7;
}
.pic-container img{
    width: 100%;
    /* height: 100%; */
}

/* list of destination end here */
